body {
  margin: 0;
  height: 100%;
  font-family: 'Belleza', sans-serif;
}
#background-image {
  background-image: url('images/trees.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 25%;
  z-index: -1;
}
.cold {
  background-color: rgb(220, 224, 230);
}
.warm {
  background-color: rgb(252, 252, 228);
}
.hot {
  background-color: rgb(252, 231, 224);
}
h1 {
  font-size: 48px;
  margin-left: 35px;
  margin-top: 0;
}
.container {
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 35px;
}
#weather {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  padding: 25px;
  border: 3px solid black;
  border-radius: 5px;
  font-size: 48px;
}
#temperature-convertion {
  display: flex;
  gap: 0px;
}
#temperature-convertion > button {
  border: 2px solid black;
  border-radius: 0px;
}
button {
  background-color: white;
  border-radius: 3px;
}
.selected {
  background-color: rgb(228, 228, 228);
}
input {
  border: 2px solid black;
}
.inline-form {
  display: flex;
  gap: 5px;
}

@media screen and (max-width: 768px) {
  .inline-form {
    flex-direction: column;
  }
}
